@import 'tailwindcss';

@theme {
  --width-page: 960px;

  --min-width-page: 960px;

  --container-page: 960px;

  --color-primary: #1d4ed8;

  --text-color-button: #6b7280;
  --text-color-button-hover: #6b7280;

  --background-color-body: #f8f7f5;
  --background-color-button: #f9f8f6;
  --background-color-button-hover: #f3f4f6;

  --font-sans:
    var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

body {
  color: #374151;
  font-family: "Inter", sans-serif;
}

input,
textarea {
  outline: none;
}

.markdown {
  line-height: 1.75;

  a {
    color: blue;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    @apply text-2xl font-bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h2 {
    @apply text-xl font-bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    @apply text-lg font-bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    @apply text-base font-bold;
    margin-bottom: 0.5rem;
  }

  h5 {
    @apply text-sm font-bold;
  }

  h6 {
    @apply text-xs font-bold;
  }

  ul {
    @apply list-disc pl-4;
  }

  ol {
    @apply list-decimal pl-4;
  }
}
